@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Vladimir University</h1>
</div>
<div class="panel panel-default">

    <div class="panel-heading">
        <h2>Bem-vindo(a) à Vladimir University</h2>
        <p>
            A Vladimir University é uma entidade fictícia criada para
            demonstrar o uso e implementação do <strong> Entity Framework Core 2.0 </strong> em uma aplicação
            <strong>ASP.NET Core MVC</strong>.
        </p>
    </div>
    <div class="panel-body">
        <div class="panel-group">
            <div class="">
                <h2>Documentação de base</h2>
                <p>Esta aplicação foi criada a partir da documentação oficial fornecida pela Microsoft</p>
                <p>
                    <a class="btn btn-default" href="https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/">
                        <i class="far fa-file-alt"></i> Acesse a documentação oficial &raquo;
                    </a>
                </p>
            </div>

            <div class="panel-group">
                <h2>Código Fonte</h2>
                <p>Você pode fazer o download do projeto completo no GitHub.</p>
                <p>
                    <a class="btn btn-default" href="https://github.com/vladimitrius">
                        <i class="fab fa-github"></i>
                        Veja o código fonte do projeto &raquo;
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>